.row {
    /*display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    background-color: powderblue;

    content: "";
    display: table;
    clear: both;*/
}
.column{
    /*flex: 1;
    padding: 1rem;
    text-align: center;
    width: 50%;*/
    float: left;
    width: 50%;


  }

/*
.column img{
    max-width: 300px;
    border-radius: 20%;
}*/
