.top-section {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    background-color: powderblue;
}
.header-left {
    flex: 2;
    padding: 1rem;
    text-align: center;
  }
.header-right {
    flex: 2;
    padding: 1rem;
    text-align: center;
}
